@font-face {
    font-family: Square;
    src: url(/data/mayan_square.ttf);
}

@font-face {
    font-family: Outer;
    src: url(/data/Outer_Sans.otf);
}

canvas {
    margin: 0 auto;
}

.navbar-custom {
  background-color: #40916C !important;
}

.navbar-brand {
    font-family: Square;
}

.navbar-nav, h2, h3, h4, h6, p{
    font-family: Outer;
}

body {
    background-image: url(/data/bg.jpg);
    background-size: 200px 200px;
}

.nav-tabs {
    border-bottom: none;
}

.tab-content {
    background-color: #1B4332;
    color: #F0F7F4;
    border-radius: 0 10px 10px 10px;
}

#nav-tabContent {
    margin-bottom: 20px;
}

.prod-bg, .ind-main {
    font-family: Outer;
    background-color: #1B4332;
    color: #F0F7F4;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.prod-txt {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
}

.col.mx-auto {
    padding: 40px;
}

button:not(.accordion-button){
    margin-top: 20px;
}

.btn.btn-primary {
    padding: 20px;
    background-color: #40916C;
    border: none;
}

.accordion-button:not(.collapsed) {
  background-color: #1B4332; 
  color: #F0F7F4;
}

.nav-tabs .nav-link.active {
  background-color: #1B4332;
  color: #F0F7F4;
  border: none;
}

.nav-tabs .nav-link:not(hover) {
  background-color: #F0F7F4;
  color: black;
}

.desc {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.img-desc {
    padding: 30px;
}